/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	height: 45px;
	text-align: center;
	text-shadow: 2px 2px black;
	color: white;
	background-color: #e6ccff;
	font-family: Avenir;
}

.back-button {
	width: 8%;
	height: 58%;
	border-style: groove;
	border-color: white;
	float: left;
	padding: 0 2% 0 2%;
	margin: 2% 0 0 5%;
	text-shadow: 0 0;
	background-color: white;
	color: black;
}

/*
	Albums
			*/
.albums-album-wrapper {
	margin: 7% 2.3% 0 2.3%;
	float: left;
}

.albums-album-art {
	width: 136px;
	height: 136px;
	padding-bottom: 12px;
}

.albums-album-name {
	text-align: center;
	font-weight: bold;
	padding-bottom: 3px;
}

.albums-artist-name {
	text-align: center;
	font-weight: 400;
	font-size: 0.8em;
	font-style: italic;
}

/*
	Songs
			*/
.songs-info-wrapper {
	height: 26%;
	padding: 2%;
}

.songs-album-art {
	width: 48%;
}

.songs-album-name {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.songs-artist-name {
	text-align: center;
	font-weight: 500;
	font-size: 1.2em;
	font-style: italic;
}

.songs-text-info {
	float: right;
	padding-top: 3%;
	width: 50%;
}

.songs-album-year {
	text-align: center;
	font-weight: 500;
	font-size: 1.2em;
}

.songs-list {
	font-size: 1.1em;
	border: black solid thin;
	padding-left: 1%;
	margin: 2% 4% 2% 0;
}

/*
	Player
			*/
.player-album-art {
	width: 80%;
	padding-left: 10%;
	padding-top: 10%;
}

.player-song-info {
	text-align: center;
	font-size: 0.9em;
	line-height: 50%;
}

#player-song-name {
	text-align: center;
	font-size: 1.5em;
}

.volume-bar {
	margin-left: 12%;
}

.volume-level {
	border: 1px solid black;
	width: 24px;
	height: 6px;
	display: inline-block;
	margin-bottom: 8px;
}

.volume-rocker {
	width: 40%;
	float: left;
	margin-left: 7%;
}

.player-controls{
	margin-top: 35px;
	text-align: center;
}

#player-time {
	float: left;
	margin-left:10%;
	font-size:0.9em;
}

#time-elapsed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#time-total{
	float: right;
	margin-right:10%;
	font-size:0.9em;
}