#loginBody {
    background-size: 100%;
    background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/14589900_1105777016144360_4712810631371062960_o.jpg?_nc_cat=107&_nc_oc=AQk-vipMR9nRGG7g5wgwkkgwugVPmyYHWvjNf4GZe_GMJZmAGY__BMh4X0UFQ_oVOgY&_nc_ht=scontent-ort2-2.xx&oh=721e8255a87fcd9518628dd851097ffa&oe=5E498F05") no-repeat center center fixed;
    background-color: aliceblue;
}